<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.manager.business.mapper.SalaryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wj.manager.business.entity.Salary">
        <id column="salary_id" property="salaryId" />
        <result column="emp_id" property="empId" />
        <result column="basic_salary" property="basicSalary" />
        <result column="bonus" property="bonus" />
        <result column="extra_salary" property="extraSalary" />
        <result column="all_salary" property="allSalary" />
        <result column="created_time" property="createdTime" />
        <result column="updated_time" property="updatedTime" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        emp_id, salary_id, basic_salary, bonus, extra_salary, all_salary, created_time, updated_time, description
    </sql>

</mapper>
