<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wj.manager.business.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wj.manager.business.entity.User">
        <id column="user_id" property="userId" />
        <result column="emp_id" property="empId" />
        <result column="account" property="account" />
        <result column="password" property="password" />
        <result column="phone" property="phone" />
        <result column="avatar" property="avatar" />
        <result column="role_id" property="roleId" />
        <result column="social_type" property="socialType" />
        <result column="social_id" property="socialId" />
        <result column="status" property="status" />
        <result column="version" property="version" />
        <result column="Column1" property="Column1" />
        <result column="Column2" property="Column2" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, emp_id, account, password, phone, avatar, role_id, social_type, social_id, status, version, Column1, Column2
    </sql>

</mapper>
